@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Light theme foreground */
  --background-start-rgb: 255, 255, 255; /* Light theme background start */
  --background-end-rgb: 255, 255, 255; /* Light theme background end */
  --hover-color: #D1D5DA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Dark theme foreground */
    --background-start-rgb: 0, 0, 0; /* Dark theme background start */
    --background-end-rgb: 0, 0, 0; /* Dark theme background end */
    --hover-color: #2B3440;
  }
}

/* Additional styles for dark theme */
body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}

/* Dark theme styles */
body.dark {
  background: rgb(var(--background-start-rgb)); /* Dark theme background */
  color: rgb(var(--foreground-rgb)); /* Dark theme text color */
}

body.dark .menu li > *:not(ul, .menu-title, details, .btn):active {
  background-color: #D1D5DA;
  color: black;
}

/* Remove the redundant media query for dark theme */
@media (prefers-color-scheme: dark) {
  /* body {
    background: rgb(var(--background-start-rgb));
    color: rgb(var(--foreground-rgb));
  } */
  /* Remove this block if not needed */
}

.bungee-hairline-thin {
  font-family: "Bungee Hairline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-hairline-bold {
  font-family: "Bungee Hairline", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-mine {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.menu :where(li > details > summary)::after {
    content: '';
    color: white;
    opacity: 60%;
    width: 6px;
    height: 6px;
}

footer .menu :where(li > details > summary)::after {
  color: white;
  opacity: 60%;
  transform: rotate(225deg);
  margin-bottom: 0rem;
}

footer .menu :where(li > details[open] > summary)::after {
  transform: rotate(45deg);
}

.menu :where(li ul):before {
  display: none;
}

:where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.active, .btn):hover {
  background-color: transparent;
}

.footer-icon-container {
  position: relative;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
} 

.open-menu .arrow-icon {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

.cursor-pointer:hover .arrow-icon {
  opacity: 1;
  transform: translateY(-50%) translateX(0px);
}

.react-toggle-track-check, .react-toggle-track-x {
  height: 15px !important;
}

.custom-classname.react-toggle--checked .react-toggle-track {
  background-color: #4D4D4D;
}

.custom-classname.react-toggle {
  color: rgb(125, 211, 252) !important;
}

.custom-classname.react-toggle--checked {
  color: rgb(252, 211, 77) !important;
}

.custom-classname.react-toggle--checked:hover {
  color: black !important;
}

.custom-classname.react-toggle:hover {
  color: black !important;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: rgb(2, 132, 199) !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: rgb(251, 191, 36) !important;
}

.input:focus, .input:focus-within, .textarea:focus {
  outline-color: #90EE8F;
  border-color: #90EE8F;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(125, 211, 252) !important;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(125, 211, 252) !important;
}

.react-toggle--checked.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(253, 230, 138) !important;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(253, 230, 138) !important;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(125, 211, 252);
}

.react-toggle--checked .react-toggle-thumb {
  border-color: #4D4D4D !important;
}
